{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">

</head>
<body>
    <center>
        <div class="alert alert-warning" role="alert">
            <marquee>Directly go to the site <a href="https://www.makemytrip.com/tripideas/places/visakhapatnam-(vizag)" class="alert-link">Vizag</a>. Give it a click if you like.</marquee>
        </div>
    </center>

    <center><h1 class="alert alert-success"><b>VISAKHAPATNAM</b></h1></center>

    <div class="card bg-dark text-white">
        <img src="{% static 'images/IMG7.webp' %}" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Beaches in Visakhapatnam (Vizag)</h5>
          <p class="card-text">A scenic port city and industrial town, Visakhapatnam or Vizag boasts of a unsullied shoreline and lush greenery of the Eastern Ghats with temples and caves.</p>
          <p class="card-text">Last updated 3 mins ago</p>
        </div>
      </div><hr>



    <div class="card-deck">
      <div class="card">
        <img src="{% static 'images/IMG4.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Borra Caves</h5>
          <p class="card-text">Over 150 years old, the Borra Caves were discovered by British geologist William King in 1807 and comprise karstic limestone structures that are up to 80 metres deep.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img src="{% static 'images/IMG5.webp' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Varaha Lakshmi Narasimha Temple</h5>
          <p class="card-text">Also known as Simhachalam Temple, this 11th century temple sits on the Simhachalam Hill, about 300 metres above the sea level and is dedicated to the incarnation of Lord Vishnu..</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img src="{% static 'images/IMG6.webp' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Kailasagiri Park</h5>
          <p class="card-text">At a height of 173 metres, the main attractions at Kailasagiri Park are 12-metre tall statues of Lord Shiva and goddess Parvathi, a floral clock and the Titanic viewpoint.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>

    
    <br><hr><br>
    
    <div class="card-deck">
        <div class="card">
          <img src="{% static 'images/IMG1.webp' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Borra Caves</h5>
            <p class="card-text">Over 150 years old, the Borra Caves were discovered by British geologist William King in 1807 and comprise karstic limestone structures that are up to 80 metres deep.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img src="{% static 'images/IMG2.webp' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Varaha Lakshmi Narasimha Temple</h5>
            <p class="card-text">Also known as Simhachalam Temple, this 11th century temple sits on the Simhachalam Hill, about 300 metres above the sea level and is dedicated to the incarnation of Lord Vishnu..</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img src="{% static 'images/IMG3.webp' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Kailasagiri Park</h5>
            <p class="card-text">At a height of 173 metres, the main attractions at Kailasagiri Park are 12-metre tall statues of Lord Shiva and goddess Parvathi, a floral clock and the Titanic viewpoint.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>

    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>